@{
    @using CRUDelicious.Models
    @model User;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDelicious</title>
</head>
<body>
    <h1>@ViewBag.RetrievedUser.dishName</h1>
    <h3>@ViewBag.RetrievedUser.chefName</h3>
    <a href="/">Home</a>
    <p>@ViewBag.RetrievedUser.Description</p>
    <p>Calories: @ViewBag.RetrievedUser.Calories</p>
    <p>Tastiness: @ViewBag.RetrievedUser.Taste</p>
    <a href="/delete/@ViewBag.RetrievedUser.UserId">Delete</a>
    <a href="/edit/@ViewBag.RetrievedUser.UserId">Edit</a>
</body>
</html>